.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background: rgba(255, 255, 255, 0.11);
}

.navbar__image {
    height: 35px;
    border-radius: 8px;
}

.navbar > p {
    font-weight: 600;
    letter-spacing: 3px;
}